<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/footer.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><h3>Links</h3></li>
                <li><a href="../pages/main.html" target="main">Home</a></li>
                <li><a href="../../src/pages/about.html" target="main">About</a></li>
                <li><a href="#" target="main">Feedback</a></li>
            </ul>
            <ul>
                <li><h3>Food API</h3></li>
                <li><a href="https://spoonacular.com" target="_blank">Spoonacular API</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>